# Virtual environment
.venv

# Compiled bytecode
__pycache__/**

# Static source assets
assets/**

# Output media
media/**

# Temporary materials
tmp/**

# Only fourier_drawing.py
*.py
!fourier_drawing.py
